# vim
*.swp
*.swo

# Habitat
results/
coverage/

# mac
.DS_Store

# all arch binaries
bin/

# Top level bin, for when building without Habitat.
chef-analyze

# working directory that can be created by analyze
.analyze-cache/
